.to-do-list{
    font-family: sans-serif;
    text-align: center;
    margin-top: 100px;
}

.h1{
    font-size: 4rem;
}

button{
    font-weight:bold;
    background-color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition:background-color 0.5s ease;
    cursor: pointer;
}

.text{
    padding: 10px 20px;
}
.add-button{
    background-color: hsl(131, 67%, 54%);
}

.add-button:hover{
    background-color: hsl(131, 67%, 40%);
}

.delete-button{
    background-color:hsl(9, 81%, 60%);
}

.delete-button:hover{
    background-color:hsl(9, 81%, 50%);
}

.task-up-button{
    background-color: hsl(68, 62%, 57%);
}

.task-up-button:hover{
    background-color: hsl(68, 62%, 40%);
}

.task-down-button{
    background-color: hsl(33, 100%, 88%);
}

.task-down-button:hover{
    background-color: hsl(33, 100%, 78%);
}

input[type='text']{
    font-size: 1.5rem;
    padding: 10px;
    border: 2px solid hsl(0, 0%, 50%);
    border-radius: 5px;
    color: hsl(0, 0%, 0%);
}
ol{
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    display: flex;
}